<h1>Bonjour c'est KaKigone du site du Klak</h1>

<p>
    Merci de nous rejoindre sur notre site internet. Il reste une dernière étape pour aller en KlaKovie, tu dois KliKer
    sur ce lien afin de vérifier ton adresse mail <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon arrivée en KlaKovie</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de nous rejoindre et à bientôt pour une Kriée
    KlaKigone le martien informaticien
</p>
