{% extends "base.html.twig" %}

{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <section>
            <div class="site-content">
                <div class="posts">
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img class="img" src="{{ asset('build/images/krieur.jpg') }}" alt="krieur">
                            </div>
                        </div>
                        <div class="post-title">
                            <h2>Une envie de Kriée</h2>
                            <p>Au départ, notre idée est de Kréer un moment et un lieu pour dire, éKouter et partager ;
                                faire exister et enrichir une parle Kommune et singulière à la fois, dans l'espace
                                publiK ; valoriser le patrimoine humain d'une Kommunauté par les disKours de ses
                                habitants.</p>
                            <p>Des ékrits seraient rékoltés via des boîtes déposées dans des lieux publiKs et stratégiKs
                                :
                                Kafés, Maisons de Kartiers, bibliothek, bus... Le Krieur redonnerait de l'oralité à ces
                                mots
                                de papier. Il interpellerait et ferait réagir les habitants, en donnant une dimension
                                loKale, Konviviale et speKtaKulaire à leurs propres messages.</p>
                            <p>L'événement deviendrait un rendez-vous pour les habitués, une déKouverte pour les
                                promeneurs
                                mais également, un engagement citoyen pour s'ouvrir sur une autre parole</p>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img class="img" src="{{ asset('build/images/crieur_public.jpg') }}"
                                     alt="crieur public">
                            </div>
                        </div>
                        <div class="post-title">
                            <h2>Le Krieur : une pratik ancestrale</h2>
                            <p>Remontant à l'AntiKité, la fonKtion du Krieur publiK était de Kolporter au publiK de
                                l'information. Elle a konnu son apogée au Moyen-Âge où il existait plusieurs
                                Korporations de
                                Krieurs : les jurés-Krieurs (annonce d'ordonnances royales, de bans urbains, de
                                sentences de
                                police etc...), les Krieurs de morts/naissances (annonce des funérailles/baptêmes), les
                                Krieurs de Vin (annonce des nouvelles réglementations de prix). Konsidéré Komme
                                l'ancêtre du
                                journaliste, le Krieur publiK n'en était pas moins K'un exéKutant du pouvoir. Vers la
                                fin du
                                XIXème sièKle, la fonKtion est tombé dans l'oubli, supplantée par la naissance de la
                                pesse
                                grâce à l'industrialisation de l'imprimerie.</p>
                            <p>Le Krieur publiK arrivait dans une loKalité, se postait aux endroits les plus frékentés
                                par
                                la population (place publiK, Karrefour, parvis d'églises, balKons de Mairie, etc...),
                                annonçait sa présence par un appel sonore KaraKtéristiK (tambour, Klochettes, trompette)
                                et
                                déKlamait son texte.</p>
                            <p>Si cette aKtivité relève aujourd'hui du folKlore LoKal, elle a néanmoins été remise au
                                goût
                                du jour par certaines Kommunes pour diffuser l'information loKale et animer la ville.
                                Des
                                citoyens seuls ou en groupe s'en sont même emparés pour en faire un nouvel espace
                                d'expression libre (billets d'humeurs, petites annonces, leKture de poésie etc...), de
                                transmission (Kontes et lgendes ancestraux, recettes, astuces etc...) et d'art de la
                                parole
                                (Kompétition de voix, de projektion, et d'élégance).</p>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img class="img" src="{{ asset('build/images/kasque.png') }}" alt="casques">
                            </div>
                        </div>
                        <div class="post-title">
                            <h2>Le KLAK : Koncept Lambda des Allumés du KasK</h2>
                            <p>Association d'édukation populaire Kréée en 2014, à Lorient, le KlaK se définit Komme un
                                lieu
                                de renKontres où se Konstruisent des espaces KolleKtifs de réfléxion, d'éxpérimentation
                                et
                                d'aKtions citoyennes à l'instar du Krieur PubliK ; de les aKKompagner également, dans
                                leur
                                projets, en partageant nos Konnaissances et Kompétences.</p>
                            <p><strong>Notre but est Ke tous se sentent aKteurs de la cité.</strong></p>
                            <p>Nous revendiKons note Kôté « sérieusement déKalé » et avons souhaité adopter un langage
                                tout
                                en « K » </p>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img class="img" src="{{ asset('build/images/kriee_klak.jpg') }}" alt="criée">
                            </div>
                        </div>
                        <div class="post-title">
                            <h2>Déroulement de la Kriée du Klak</h2>
                            <p>Le Krieur publiK du Klak est un speKtaKle de rue, teKniKement autonome. Il peut
                                s'intégrer à
                                différents types d'événements : marchés, festivals, Koncerts, forum, Kongrès, etc...</p>
                        </div>
                        <div class="post-title">
                            <h3>Etape 1 : avant la Kriée</h3>
                            <p>Un mois avant chaK Kriée, nous disposons une dizaine de boîtes à messages chez les
                                Kommerçants de la ville et dans KelKes lieux publiks. Celles-ci Komportent une brève
                                expliKation du projet et sont aKKompagnées de papier (format A6) et d'un stylo pour
                                ékrire
                                son/ses messages. Les boîtes servent de support de KommuniKation à l'événement.</p>
                            <p>Deux semaines avant la Kriée, les Krieurs (adhérents du KlaK Ki s'insKrivent) relèvent
                                les
                                boîtes et se retrouvent lors d'un premier Komité pour Klasser les messages par thématik
                                (voir plus bas) puis, une sekonde fois pour mettre en scène la Kriée.</p>
                        </div>
                        <div class="post-title">
                            <h3>Etape 2 l'arrivée des Krieurs</h3>
                            <span>Durée : de 5 à 15 min</span>
                            <p>Le jour de la Kriée, les Krieurs du KLAK déambulent dans la ville, en Kostume et en musik
                                (djembé, Klochettes...), en informant du lieu et de l'heure imminente de la
                                manifestation.
                                Ils gardent une boîte à messages pour les « retardataires ». Arrivés à destination, les
                                Krieurs installent leur déKor suKcinct puis annoncent le début du spectaKle : « <strong>Le
                                    Krieur publiK de Lorient</strong>»</p>
                        </div>
                        <div class="post-title">
                            <h3>Etape 3 : restitution des messages</h3>
                            <span>Durée : 2 séances à 17h17 et 18h18, de 10 à 15 min, selon la Kantité de messages</span>
                            <p>La restitution orale des messages s'effektue sans amplifikation de voix. Des Koups de
                                djembé
                                introduisent chak rubriK et des sons de Klochettes, chaK message.</p>
                            <p>Les rubriK sont les suivantes et varient d'une Kriée à l'autre : </p>
                            <ol>
                                <li>Le KlaKendrier (agenda associatif, sportif, kulturel, etc) ;</li>
                                <li>Les Koups de gueule (billets d'humeurs, réKlamations, etc) ;</li>
                                <li>Les Koups de Koeur (messages d'amour, félicitations, etc) ;</li>
                                <li>Ma RéKlam (petites annonces) ;</li>
                                <li>Le BriKo-Klak (recettes, truKs et astuces, etc) ;</li>
                                <li>Le Brik à Brak (fourre-tout, etc) ;</li>
                                <li>Les KlaKrostiches (poésies citations, etc) ;</li>
                                <li>La BouKiteK (extrait de roman choisi par le Krieur) ;</li>
                            </ol>
                            <p>Extra : Le Kelleur-Killey (horloge Kriée) et Le Kelten-Kiffé (météo Kriée).</p>
                        </div>
                        <div class="post-title">
                            <h3>Etape 4 : Le Kart d'heure libre</h3>
                            <span>Durée : 15 min maximum</span>
                            <p>Le publiK est invité à Krier à son tour, même s'il peut le faire spontanément entre les
                                rubriKs.</p>
                        </div>
                        <div class="post-title">
                            <h3>Etape 5 : KonKlusion déambulatoire</h3>
                            <span>Durée : de 5 à 15 min</span>
                            <p>Toujours aKKompagnés de perKussions et sons de Klochettes, les Krieurs repartent en
                                informant
                                des lieux et horaires de la prochaine Kriée publiK.</p>
                        </div>
                    </div>
                </div>
                {% include 'main/sidebar.html.twig' %}
            </div>
        </section>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
