
{% block body %}

    <section>
        <div class="blog">
            <div class="container">
                <h2 class="carousel-title">Nos événements</h2>
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="{{ asset('build/images/Blog-post/blog1.png') }}" alt="post-1">
                        <div class="blog-title">
                            <h3>Kriée de Lorient</h3>
                            <button class="btn btn-blog">08/01/2020 - 16h00</button>
                            <span>Halles de Lorient</span>
                        </div>
                    </div>

                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="{{ asset('build/images/Blog-post/blog3.png') }}" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="{{ asset('build/images/Blog-post/blog4.png') }}" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


