{% extends "base.html.twig" %}
{% block body %}
    <div class="search">
        <h2>Recherche</h2>
        <div class="form-element">
            <label for="search">
                <input name="search" type="text" class="input-element" placeholder="Entrez votre recherche">
            </label>
            <button class="btn form-btn">Rechercher</button>
        </div>
    </div>
    <div class="popular-tags">
        <h2>Popular Tags</h2>
        <div class="tags flex-row">
            <span class="tag">Sofware</span>
            <span class="tag">technology</span>
            <span class="tag">travel</span>
            <span class="tag">illustration</span>
            <span class="tag">design</span>
            <span class="tag">lifestyle</span>
            <span class="tag">love</span>
            <span class="tag">project</span>
        </div>
    </div>
{% endblock %}
