{% extends "base.html.twig" %}
{% block body %}
    <div class="search">
        <h2>Recherche</h2>
        <div class="form-element">
            <label for="search">
                <input name="search" type="text" class="input-element" placeholder="Entrez votre recherche">
            </label>
            <button class="btn form-btn">Rechercher</button>
        </div>
    </div>
{% endblock %}
