{% extends 'base.html.twig' %}


{% block body %}
    {# ------------------------------------------- Site Content ---------------------------------------------------- -#}
    <div class="site-content">
        <div class="posts">
            <div class="post-content">
                <div class="post-image">
                    <div>
                        <img src="{{ asset('build/images/Blog-post/blog1.png') }}" alt="post1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp; Janury 14, 2019</span>
                        <span> 2 Comments</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Why should boys have all the fun? it's the women who are making india an alcohol-loving
                        contry</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad aperiam autem beatae commodi
                        consequuntur culpa deleniti deserunt dolorem eveniet excepturi explicabo facilis, ipsum iusto
                        labore laboriosam laborum molestiae nihil non nostrum, officiis omnis provident quas quod
                        sapiente similique.</p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <h1>SideBar</h1>
        </aside>
    </div>
    {# ------------------X------------------------- Site Content ---------------------------X------------------------- -#}
{% endblock %}
