{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <div class="site-content">
            <form class="form-group" method="post">
                <h1 class="text-center">Changer mon mot de passe</h1>
                <div class="flex-form">
                    <label for="pass">Mot de passe</label>
                    <input type="password" id="pass" name="pass" placeholder="Votre mot de passe">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" placeholder="Retapez le mot de passe">
                    <button class="btn" type="submit">
                        Changer mon mot de passe
                    </button>
                </div>
            </form>
            {% include 'main/sidebar.html.twig' %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
